# Reference: http://git-scm.com/docs/gitignore

# ignore the following directories:
**/assets
**/flowchart

# ignore the following file types:
**/*.md
**/*.jpg
**/*.jpeg

# ignore all python files except exercise and test_exercise:
**/*.py
!**/test_exercise.py
!**/exercise.py
